<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>127.0.0.1</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Kannu uses Apple Music to fetch animated artwork for the lock screen wallpaper.</string>
	<key>NSAudioCaptureUsageDescription</key>
	<string>Kannu needs audio capture permission to display the real-time music waveform visualizer.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Kannu needs screen recording permission to capture screenshots for the AI assistant feature.</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/libinmv/kannu/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>gmAk/vxvHlGmWczyxtmTHxSK6GCbAVqWHd9bGLB97lA=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
